<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
<link rel="stylesheet" type="text/css" href="../estilos/estilo.css">
<div id="interface">
<h2 style="text-align: center;">Cadastro</h2>

 <div>
 	<center><li><label for="Nome">Nome: </label><br/>
 	<input type="nome" id="Nome"/></center></li>
 </div>

<div >
	<center><li><label for="Usuario">Login de Usuario: </label><br/>
	<input type="Usuario" id="Usuario"></center></li>
</div>
<div>
	<center><li><label for="Senha">Senha: </label><br/>
	<input type="password" id="Senha" ></center></li>
</div>
<nav  id="botoes" >
				<center><li><a href="paginaInicial.html" >Cadastrar-se</a></li>
				</center></nav>
</div>
<script src="../scripts/cadastraUsuario.js"></script>
</body>
</html>

