<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<link rel="stylesheet" type="text/css" href="../estilos/estilo.css">
<div id="interface">
<h2 style="text-align: center;">Consultar Produto</h2>
<nav  id="botoesAdmin" >
		<center><li><label for="NomeProduto">Nome do Produto: </label><br/>
 		<input type="text" id="NomeProduto"/></center></li>


	<!-- o valor tem que ser setado aqui -->
		<nav  id="botoes" >
				<center></center>
				<center><li><a href="produto.html" >Consultar</a></li>

			</nav>


</div>


</nav>
</body>
</html>