<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<link rel="stylesheet" type="text/css" href="../estilos/estilo.css">
<div id="interface">
<h2 style="text-align: center;">Consultar Produto</h2>
<nav  id="botoesAdmin" >
		<center><li><label for="CodigoBarrasProduto">Código de Barras: </label><br/>
 		<input type="text" id="CodigoBarrasProduto"/></center></li>


	<!-- o valor tem que ser setado aqui -->
		<center><li><label for="valor">Novo valor: </label><br/>
		<input type="text" id="valor"></center></li>

		<nav  id="botoes" >
				<center></center>
				<center><li><a href="produto.html" >Consultar</a></li>
				<li onclick="update()">Atualizar</li></center>

			</nav>
</div>
</nav>

<script src="../scripts/"></script>

</body>
</html>