<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<title>CCC Pharma</title>
	<link rel="stylesheet" type="text/css" href="../estilos/estilo.css"/>
</head>
<body>

<div id="interface">
	<hgroup>
	<header id="cabecalho">
		<h1 style="text-align: center; font-family: arial, sans-serif; text-shadow: 1px 1px 1px rgba(0,0,0,.6)">
		CCC PHARMA </h1>

	</header>
</hgroup>
	
	<center><h3>Seja bem vindo a CCC PHARMA.</h3></center>

	<nav  id="botoes" >
		<center><select>
 			<option value="">Categoria</option>
 			<option value="medicamentos">Medicamentos</option>
 			<option value="higienePessoal">Higiene pessoal</option>
 			<option value="cosmeticos">Cosmeticos</option>
 			<option value="alimentos">Alimentos</option>

 		</select></center>
			<center><li><label for="produto">Digite o produto que você procura: </label><br/>
			<input type="text" id="produto"></center></li>
			<center><li><button onclick="buscaProduto()">Procurar</button></li>
			<center><p><font size="2">Ainda não é cadastrado ?</p></font></center>
			<center><li><a href="cadastraUsuario.html" >Cadastrar-se</a></li>
				<li><a href="paginaInicial.html">Entrar</a></li></center>

			</nav>
		</p>
	</center>
</center></center></nav></div>

<script src="../scripts/produtos.js">
	
	
</script>
</body></html>