<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<title>CCC Pharma</title>
	<link rel="stylesheet" type="text/css" href="estilo.css"/>
</head>
<body>

<div id="interface">
	<hgroup>
	<header id="cabecalho">
		<h1 style="text-align: center; font-family: arial, sans-serif; text-shadow: 1px 1px 1px rgba(0,0,0,.6)">
		CCC PHARMA </h1>

	</header>
</hgroup>

 <div>
 	<center><li><label for="Usuario">Usuario: </label><br/>
 	<input type="text" id="Usuario"/></center></li>
 </div>

<div>
	<center><li><label for="Senha">Senha: </label><br/>
	<input type="password" id="Senha"></center></li>
</div>

	<nav class="RadioBotton" id="radioBotton"><center><p><i><font size="2">Administrador ?</p></font></i>
		<input type="radio" id="sim" name="webmaster" value="sim"/> Sim<br/>
		<input type="radio" id="nao" name="webmaster" value="nao"/> Não<br/>
	</center></nav>
	<nav  id="botoes" >
				
				<center><li><a href="paginaUsuario.html" id='botaoEntrar'>Entrar</a></li></center>

			</nav>


</div>

</body>
</html>