
@import url('https://fonts.googleapis.com/css?family=Roboto');

#listagem{
   margin-left: 15%;
   display: inline-block;  
}

.produtoCard {
    width: 800px;
    height: 220px;
    background: white;
    margin: 10px;
    border-radius: 10px;
}

.produtoItens {
    padding: 10px;
}

.disponivel{
    background: greenyellow;
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
}

.indisponivel{
    background:red;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
}

.itemTitulo{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 20px;
}

.itemCompany{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


.itemValor{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bolder;
}

.btn{
    width: 90px;
    margin-left: 20px;
    border-color: darkblue;
    color: darkblue;
    background: white;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
}

.btn:hover{
    color: white;
    background: darkblue;
}